<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>445537367334-03lf3vbdfkgjd2k37kd40ujkcqs3e2hs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.445537367334-03lf3vbdfkgjd2k37kd40ujkcqs3e2hs</string>
	<key>API_KEY</key>
	<string>AIzaSyB9eRIMKX51O-XNVqAk9LFfIR6TviETYbQ</string>
	<key>GCM_SENDER_ID</key>
	<string>445537367334</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gtkFlutter</string>
	<key>PROJECT_ID</key>
	<string>fir-flutter-codelab-ba309</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-flutter-codelab-ba309.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:445537367334:ios:a7a938ee68b6aa6f123de7</string>
</dict>
</plist>